# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# App Configuration
NEXT_PUBLIC_WHATSAPP_NUMBER=5511986472609
NEXT_PUBLIC_ADMIN_EMAIL=dgoncalves@hotmail.com.br

# Environment Configuration
EDITOR=true
NEXT_PUBLIC_GEMINI_API_KEY=
